<div class="home">
  <div class="container search-box">
    <form action="/artist-search" method="GET" class="form">
      <input type="text" name="artist" placeholder="The Beatles" class="form-input">
      <button class="form-button">Search for an Artist</button>
    </form>
  </div>
</div>