<div class="home">
  <div class="search-box">
    <form class="form" method="GET" action="/artist-search">
      <div class="form-group">
        <input class="form-input" type="text" name="search" />
      </div>
      <button class="form-button" type="submit" >Search for an Artist</button>
    </form>
  </div>
</div>